In [10]:
import pandas as pd

In [40]:
situation_df = pd.read_csv(r'C:\Users\GT1030\hitters_situation.csv',engine='python')
total_df = pd.read_csv(r'C:\Users\GT1030\hitters_total.csv',engine='python')
total_df.head()

,팀명,이름,연도,AVG,G,PA,AB,R,H,2B,...,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E
0,두산,페르난데스,2018,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,두산,페르난데스,2019,0.344,144,645,572,87,197,34,...,88,1,2,61,6,54,16,0.483,0.409,3
2,두산,페르난데스,2020,0.340,144,668,586,104,199,29,...,105,0,1,58,13,42,26,0.497,0.404,1
3,두산,허경민,2018,0.324,133,577,516,85,167,30,...,79,20,4,32,16,52,15,0.459,0.376,7
4,두산,허경민,2019,0.288,133,540,475,71,137,25,...,60,11,5,34,17,36,16,0.371,0.350,8

In [41]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      912 non-null    object
 1   이름      912 non-null    object
 2   연도      912 non-null    int64
 3   AVG     912 non-null    object
 4   G       912 non-null    object
 5   PA      912 non-null    object
 6   AB      912 non-null    object
 7   R       912 non-null    object
 8   H       912 non-null    object
 9   2B      912 non-null    object
 10  3B      912 non-null    object
 11  HR      912 non-null    object
 12  TB      912 non-null    object
 13  RBI     912 non-null    object
 14  SB      912 non-null    object
 15  CS      912 non-null    object
 16  BB      912 non-null    object
 17  HBP     912 non-null    object
 18  SO      912 non-null    object
 19  GDP     912 non-null    object
 20  SLG     912 non-null    object
 21  OBP     912 non-null    object
 22  E       912 non-null    object
dtypes: int64(1), object(22)
memory usage: 164.0+ KB

In [42]:
total_df = total_df.replace('-',pd.NaT)
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      912 non-null    object
 1   이름      912 non-null    object
 2   연도      912 non-null    int64
 3   AVG     645 non-null    object
 4   G       694 non-null    object
 5   PA      694 non-null    object
 6   AB      694 non-null    object
 7   R       694 non-null    object
 8   H       694 non-null    object
 9   2B      694 non-null    object
 10  3B      694 non-null    object
 11  HR      694 non-null    object
 12  TB      694 non-null    object
 13  RBI     694 non-null    object
 14  SB      694 non-null    object
 15  CS      694 non-null    object
 16  BB      694 non-null    object
 17  HBP     694 non-null    object
 18  SO      694 non-null    object
 19  GDP     694 non-null    object
 20  SLG     645 non-null    object
 21  OBP     645 non-null    object
 22  E       694 non-null    object
dtypes: int64(1), object(22)
memory usage: 164.0+ KB

In [43]:
total_df.head(30)

,팀명,이름,연도,AVG,G,PA,AB,R,H,2B,...,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E
0,두산,페르난데스,2018,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,두산,페르난데스,2019,0.344,144,645,572,87,197,34,...,88,1,2,61,6,54,16,0.483,0.409,3
2,두산,페르난데스,2020,0.340,144,668,586,104,199,29,...,105,0,1,58,13,42,26,0.497,0.404,1
3,두산,허경민,2018,0.324,133,577,516,85,167,30,...,79,20,4,32,16,52,15,0.459,0.376,7
4,두산,허경민,2019,0.288,133,540,475,71,137,25,...,60,11,5,34,17,36,16,0.371,0.350,8
5,두산,허경민,2020,0.332,117,487,437,70,145,25,...,58,14,6,35,5,28,10,0.442,0.382,9
6,두산,오재일,2018,0.279,123,477,401,69,112,19,...,80,1,1,60,6,121,3,0.539,0.373,4
7,두산,오재일,2019,0.293,130,529,467,76,137,29,...,102,2,1,55,3,99,5,0.495,0.369,4
8,두산,오재일,2020,0.312,127,534,471,62,147,32,...,89,2,1,61,0,92,12,0.482,0.390,3
9,두산,최주환,2018,0.333,138,590,519,87,173,39,...,108,1,0,51,10,89,5,0.582,0.397,3
10,두산,최주환,2019,0.277,87,325,285,27,79,13,...,47,0,0,28,1,35,10,0.365,0.332,3
11,두산,최주환,2020,0.306,140,574,509,63,156,29,...,88,2,2,47,7,66,7,0.473,0.366,10
12,두산,박건우,2018,0.326,125,529,488,79,159,24,...,84,7,3,28,10,65,14,0.473,0.373,1
13,두산,박건우,2019,0.319,127,537,458,83,146,27,...,64,12,3,60,7,57,23,0.465,0.397,3
14,두산,박건우,2020,0.304,129,551,487,103,148,40,...,70,8,2,42,12,65,9,0.472,0.369,2
15,두산,정수빈,2018,0.367,26,112,98,20,36,2,...,23,5,2,11,1,13,1,0.469,0.429,2
16,두산,정수빈,2019,0.265,123,513,441,75,117,19,...,41,26,8,57,6,60,6,0.331,0.354,3
17,두산,정수빈,2020,0.298,141,559,490,84,146,17,...,59,15,6,55,2,56,10,0.396,0.368,1
18,두산,최용제,2018,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
19,두산,최용제,2019,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
20,두산,최용제,2020,0.295,28,49,44,9,13,0,...,9,0,0,4,0,8,2,0.341,0.354,3
21,두산,김재호,2018,0.311,131,467,402,78,125,20,...,75,6,2,52,4,77,12,0.480,0.390,12
22,두산,김재호,2019,0.268,130,470,377,51,101,22,...,48,3,3,67,7,58,10,0.358,0.379,10
23,두산,김재호,2020,0.289,120,458,402,48,116,15,...,39,6,2,45,4,45,17,0.346,0.362,13
24,두산,안권수,2018,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
25,두산,안권수,2019,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
26,두산,안권수,2020,0.270,68,41,37,10,10,0,...,3,2,1,2,0,5,1,0.270,0.300,0
27,두산,박세혁,2018,0.282,89,194,170,37,48,12,...,22,5,0,16,4,55,0,0.406,0.356,2
28,두산,박세혁,2019,0.279,137,505,441,58,123,19,...,63,8,2,41,7,68,5,0.390,0.345,8
29,두산,박세혁,2020,0.269,124,423,360,47,97,18,...,51,5,3,35,12,45,7,0.364,0.348,8

In [50]:
total_df = total_df.dropna().reset_index(drop=True)
total_df.head()

,팀명,이름,연도,AVG,G,PA,AB,R,H,2B,...,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E
0,두산,페르난데스,2019,0.344,144,645,572,87,197,34,...,88,1,2,61,6,54,16,0.483,0.409,3
1,두산,페르난데스,2020,0.340,144,668,586,104,199,29,...,105,0,1,58,13,42,26,0.497,0.404,1
2,두산,허경민,2018,0.324,133,577,516,85,167,30,...,79,20,4,32,16,52,15,0.459,0.376,7
3,두산,허경민,2019,0.288,133,540,475,71,137,25,...,60,11,5,34,17,36,16,0.371,0.350,8
4,두산,허경민,2020,0.332,117,487,437,70,145,25,...,58,14,6,35,5,28,10,0.442,0.382,9

In [52]:
df_1 = total_df[total_df.columns[3:]].astype('float')

for i in df_1.columns:
    total_df[i] = df_1[i]
    
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      645 non-null    object
 1   이름      645 non-null    object
 2   연도      645 non-null    int64
 3   AVG     645 non-null    float64
 4   G       645 non-null    float64
 5   PA      645 non-null    float64
 6   AB      645 non-null    float64
 7   R       645 non-null    float64
 8   H       645 non-null    float64
 9   2B      645 non-null    float64
 10  3B      645 non-null    float64
 11  HR      645 non-null    float64
 12  TB      645 non-null    float64
 13  RBI     645 non-null    float64
 14  SB      645 non-null    float64
 15  CS      645 non-null    float64
 16  BB      645 non-null    float64
 17  HBP     645 non-null    float64
 18  SO      645 non-null    float64
 19  GDP     645 non-null    float64
 20  SLG     645 non-null    float64
 21  OBP     645 non-null    float64
 22  E       645 non-null    float64
dtypes: float64(20), int64(1), object(2)
memory usage: 116.0+ KB

In [53]:
situation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      912 non-null    object
 1   이름      912 non-null    object
 2   구분      912 non-null    object
 3   AVG     912 non-null    object
 4   AB      912 non-null    object
 5   H       912 non-null    object
 6   2B      912 non-null    object
 7   3B      912 non-null    object
 8   HR      912 non-null    object
 9   RBI     912 non-null    object
 10  BB      912 non-null    object
 11  HBP     912 non-null    object
 12  SO      912 non-null    object
 13  GDP     912 non-null    object
dtypes: object(14)
memory usage: 99.9+ KB

In [54]:
situation_df = situation_df.replace('-',pd.NaT)
situation_df = situation_df.dropna().reset_index(drop=True)
df_1 = situation_df[situation_df.columns[3:]].astype('float')

for i in df_1.columns:
    situation_df[i] = df_1[i]
    
situation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      764 non-null    object
 1   이름      764 non-null    object
 2   구분      764 non-null    object
 3   AVG     764 non-null    float64
 4   AB      764 non-null    float64
 5   H       764 non-null    float64
 6   2B      764 non-null    float64
 7   3B      764 non-null    float64
 8   HR      764 non-null    float64
 9   RBI     764 non-null    float64
 10  BB      764 non-null    float64
 11  HBP     764 non-null    float64
 12  SO      764 non-null    float64
 13  GDP     764 non-null    float64
dtypes: float64(11), object(3)
memory usage: 83.7+ KB

In [55]:
situation_df.head()

,팀명,이름,구분,AVG,AB,H,2B,3B,HR,RBI,BB,HBP,SO,GDP
0,두산,페르난데스,좌투수,0.367,158.0,58.0,9.0,0.0,2.0,23.0,19.0,6.0,7.0,14.0
1,두산,페르난데스,우투수,0.330,373.0,123.0,16.0,0.0,17.0,72.0,35.0,5.0,29.0,11.0
2,두산,페르난데스,언더투수,0.327,55.0,18.0,4.0,0.0,2.0,10.0,4.0,2.0,6.0,1.0
3,두산,허경민,좌투수,0.383,94.0,36.0,9.0,0.0,1.0,10.0,12.0,1.0,4.0,3.0
4,두산,허경민,우투수,0.318,286.0,91.0,15.0,0.0,5.0,44.0,20.0,3.0,22.0,6.0